//- extend layout
//- block content
div(ng-controller="LoginCtrl")
	h3 Please Login below:
	form(name="login")
		span address
		input(type="text" ng-model="user.address")
		button(type="submit" ng-click="submit") Submit